    <thead>
                       </thead>
                                                <tbody>                            
                                                    <tr class="p-3 mb-2 bg-primary text-red">
                                                        <th colspan="2">
                                                            <span class="strong ">Datos Podometro</span> 
                                                        </th>
                                                    </tr>
                                                                                        
                                                        <tr>
                                                            <td> Pasos:{{myList.pasos}}  </td> <td></td>
                                                        </tr>

                                                        <tr>
                                                            <td>Distancia: {{myList.distancia}} </td> <td> Km/h</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Calorias:{{myList.calorias}}</td>
                                                            <td>  Cal </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Velocidad:{{myList.velocidad}}</td>
                                                            <td>  km/h </td>
                                                        </tr>       
                                                </tbody>
         
 