    <thead>
                       </thead>
                                                <tbody>                            
                                                    <tr class="p-3 mb-2 bg-primary text-red">
                                                        <th colspan="2">
                                                            <span class="strong ">Datos Podometro</span> 
                                                        </th>
                                                    </tr>
                                                                                        
                                                        <tr>
                                                            <td> Pasos:  </td> <td ><div id="idPasos">{{myList.pasos}} </div> </td>
                                                        </tr>

                                                        <tr>
                                                            <td>Distancia(m):  </td> <td> <div id="idDistancia">  {{myList.distancia}} </div> </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Calorias:</td>
                                                            <td>  <div id="idCalorias">  {{myList.calorias}}  </div> </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Velocidad(m/s):</td>
                                                            <td>  <div id="idVelocidad">  {{myList.velocidad}}  </div>  </td>
                                                        </tr>       
                                                </tbody>
         
 

     <thead>
                       </thead>
